/**********/
/* Colors */
/**********/

html {
    --fgcolor: black;
    --bgcolor: white;
    --bgcolor2: #fafafa;
    --accent: rebeccapurple;
}

@media (prefers-color-scheme: dark) {
    html {
        --fgcolor: white;
        --bgcolor: black;
        --bgcolor2: #1f1f1f;
        --accent: pink;
    }
}

body {
    color: var(--fgcolor);
    background-color: var(--bgcolor);
}

a {
    color: var(--fgcolor);
    text-decoration-color: var(--accent);
}

a:focus,
a:visited,
a:hover {
    color: var(--accent);
}

blockquote {
    border-left: 1px solid var(--accent);
    background-color: var(--bgcolor2);
}


/**********/
/* Layout */
/**********/

* {
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

header { display: none; }
footer {
    position: absolute;
    bottom: 0.5em;
    text-align: center;
}
main { z-index: 2 }
footer { z-index: 1 }

pre,
code {
    font-family: "IBM Plex Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
}

main {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cells {
    display: flex;
    justify-content: space-evenly;
}

.cell,
.logo,
.foundation {
    width: 10vmax;
    height: 12vmax;
    border: 1px solid transparent;
    margin: 1px;
}
.cascade {
    width: 10vmax;
}

.cell { background-color: rgba(128,255,128,0.3) }
.foundation { background-color: rgba(128,128,128,0.3) }

.card {
    width: 8vmax;
    height: 10vmax;
    margin: 1px;
    border: 1px solid white;
    border-radius: 0.8em;
    box-shadow: 0px 3px 10px black;
    text-align: center;
    font-size: xx-large;
    background-color: white;
    cursor: grab;
}

.cascade        { margin-top:  3vmax }
.cascade .card  { margin-top: -3vmax }

@media screen and (min-width: 1024px) {
    .cascade        { margin-top:  5vmax }
    .cascade .card  { margin-top: -5vmax }
}

@media screen and (max-height: 375px) {
    footer { display: none }
}

.cascade .card:focus {
    cursor: grabbing;
}

.card.picked {
    border-color: rebeccapurple;
}

.logo {
    text-align: center;
    color: white;
    background-color: rebeccapurple;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items:center;
}

.foundations {
    display: flex;
    justify-content: space-evenly;
}

.cascades {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-evenly;
}

.cascade {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

.card .Hearts,
.card .Diamonds {
    color: red;
}

.card .Spades,
.card .Clubs {
    color: black;
}

.winner {
    font-size: xx-large;
    color: var(--accent);
    background-color: var(--bgcolor);
    font-style: italic;
    position: absolute;
    top: 0;
    width: 92vmax;
    text-align: center;
}